.movie {
  background: #2f2f2f;
  padding: 6px 6px 6px 22px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.movie__info {
  display: grid;
  grid-template-rows: 1fr minmax(13px, 52px) 28px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'name'
    'duration'
    'like';
}

.movie__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  margin: 17px 0 0;
  max-width: 400px;
  grid-area: name;
}

.movie__duration {
  font-size: 11px;
  line-height: 1.18;
  color: #8b8b8b;
  margin: 10px 0 0;
  grid-area: duration;
}

.movie__like {
  width: 14px;
  height: 12px;
  grid-area: like;
  transition: 0.3s;
}

.movie__poster {
  object-fit: cover;
  width: 220px;
}

@media (any-hover: hover) {
  .movie__like:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

@media screen and (max-width: 520px) {
  .movie {
    flex-direction: column-reverse;
    padding: 0;
  }
  .movie__poster {
    width: 100%;
    height: 168px;
  }
  .movie__info {
    height: 50px;
    padding: 15px 0 0 12px;
    grid-template-rows: 1fr 28px;
    grid-template-columns: 1fr 35px;
    grid-template-areas:
      'name like'
      'duration .';
  }
  .movie__name {
    font-size: 12px;
    line-height: 1.25;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .movie__duration {
    font-size: 11px;
    line-height: 1.18;
    margin-top: 2px;
  }
  .movie__like {
    margin: 2px 0 0 5px;
  }
}
