.portfolio {
  padding: 90px 30px 37px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #8b8b8b;
  mix-blend-mode: normal;
  margin: 0;
}

.portfolio__container {
  list-style: none;
  margin: 0 auto;
  padding: 28px 0 0;
}

.portfolio__item {
  font-size: 30px;
  letter-spacing: -0.04em;
  height: 89px;
  box-sizing: border-box;
}

.portfolio__link {
  text-decoration: none;
  color: inherit;
  padding-top: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__item:not(:last-of-type) {
  border-bottom: 1px solid #424242;
}

.portfolio__text {
  margin: 0;
  line-height: 1.66;
  transition: 0.3s;
}

.portfolio__arrow {
  margin: 0;
  padding: 7px 1px 0 0;
  text-decoration: none;
  line-height: 1.5;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .portfolio {
    padding: 80px 50px 2px;
  }
  .portfolio__container {
    padding-top: 32px;
  }
  .portfolio__title {
    color: #a0a0a0;
  }
  .portfolio__item {
    font-size: 28px;
  }
  .portfolio__link {
    padding-top: 12px;
  }
  .portfolio__item:not(:last-of-type) {
    border-bottom: 1px solid #e6e6e6;
  }
  .portfolio__text {
    line-height: 1.78;
  }
  .portfolio__arrow {
    line-height: 2.14;
  }
}

@media screen and (max-width: 680px) {
  .portfolio {
    padding: 59px 14px 4px;
  }
  .portfolio__title {
    font-size: 14px;
    line-height: 1.43;
  }
  .portfolio__container {
    padding-top: 23px;
  }
  .portfolio__item {
    font-size: 18px;
    height: 66px;
  }
  .portfolio__link {
    padding-top: 20px;
  }
  .portfolio__text {
    line-height: 1.55;
  }
  .portfolio__arrow {
    padding-top: 0;
    line-height: 1.55;
  }
}

@keyframes arrow {
  0% {
    transform: translate(0, 0);
  }

  33% {
    transform: translate(-5px, 5px);
  }
  66% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (any-hover: hover) {
  .portfolio__link:hover .portfolio__arrow {
    animation: arrow 1.5s infinite ease-in;
  }
  .portfolio__link:hover .portfolio__text {
    opacity: 0.6;
  }
}
