.nav {
  margin-bottom: 1px;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  display: inline-block;
  box-sizing: border-box;
}

.nav__link_place_saved-movies {
  font-weight: 400;
  margin-left: 21px;
}

.nav__link_place_account {
  font-size: 13px;
  line-height: 0.92;
  position: relative;
  margin: 0 30px 0 67px;
  transform: translate(-6px, -1px);
}

.nav__account-icon {
  background: #313131;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 7px;
  position: absolute;
  right: -33px;
  top: -7px;
}

@keyframes openMenu {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes closeMenu {
  0% {
    right: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: -100%;
  }
}

@media (any-hover: hover) {
  .nav__link:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }
  .nav__link_place_account:hover {
    transform: scale(1.1) translate(-6px, -1px);
  }
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 3;
    background-color: #202020;
    animation: closeMenu 0.75s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    height: 100vh;
    padding-top: 159px;
    transition: right 0.3s ease-in-out;
    opacity: 0;
  }

  .nav__link {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 28px;
  }

  .nav__link_selected {
    border-bottom: 2px solid #fff;
    margin-bottom: 23px;
    padding-bottom: 3px;
  }

  .nav__link_place_account {
    font-size: 13px;
    line-height: 0.92;
    position: relative;
    margin: 603px 15px 0 0;
  }

  .nav_opened {
    animation: openMenu 0.75s forwards;
    right: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 520px) {
  .nav {
    width: 100%;
    padding-top: 147px;
  }
  .nav__link {
    margin-bottom: 24px;
  }
  .nav__link_selected {
    padding-bottom: 6px;
    margin-bottom: 16px;
  }
  .nav__link_place_account {
    margin-top: 430px;
  }
}
