.background {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #202020;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}